@{
    ViewBag.Title = "Customer";
    //Layout = "~/Views/Shared/MasterPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>FirstName</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Last Name 2</th>
                        <th>Birthday</th>
                        <th>Age</th>
                        <th>Phone</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Zip Code</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var list = Customer.BusinessLogic.CustomerManager.GetByAll();
                        foreach (var item in list)
                        {
                    <tr>
                        <td>@Html.ActionLink("Customer Details", "CustomerDetails", new { id = @item.ID })</td>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@item.LastName</td>
                        <td>@item.LastName2</td>
                        <td>@item.Birthday</td>
                        <td>@item.Age</td>
                        <td>@item.Phone</td>
                        <td>@item.CelPhone</td>
                        <td>@item.Email</td>

                        <td>@item.CustomerAddresses.FirstOrDefault().Address1</td>
                        <td>@item.CustomerAddresses.FirstOrDefault().Address2</td>
                        <td>@item.CustomerAddresses.FirstOrDefault().ZipCode</td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>